Keras-Applications
Pillow
PyWavelets
contourpy==1.1.1
cycler
editdistance
efficientnet
essential-generators
fonttools
h5py
imageio
imgaug
importlib-resources
keras-ocr
kiwisolver
lazy_loader
matplotlib
networkx
numpy==1.26.4
opencv-python
opencv-python-headless
packaging
pyclipper
pyparsing
python-dateutil
scikit-image
scipy
shapely
six
streamlit
tifffile
torch
torchvision
tqdm
validators
zipp
PyYAML
