contourpy==1.1.1
cycler
editdistance
efficientnet
essential-generators
fonttools
h5py
imageio
imgaug
importlib-resources
Keras-Applications
keras-ocr
kiwisolver
lazy_loader
matplotlib
networkx
numpy==1.26.4
opencv-python
opencv-python-headless
packaging
Pillow
pyclipper
pyparsing
python-dateutil
PyWavelets
PyYAML
scikit-image
scipy
seaborn
shapely
six
streamlit
tifffile
torch
torchvision
tqdm
validators
zipp
